extends _layouts/base

block content
  #block.animated.fadeIn
  .container
    #win-notifer.animated.fadeInDown
      p#content X won this round!
      button#reset Reset Game
    #winners Welcome to tic-tac-toe. I have a feeling you already know what to do.
    #grid
      #topleft.square 
        //- topleft
      #topcenter.square
        //- topcenter
      #topright.square
        //- topright
      #midleft.square
        //- midleft
      #midcenter.square
        //- midcenter
      #midright.square
        //- midright
      #bottomleft.square
        //- bottomleft
      #bottomcenter.square
        //- bottomcenter
      #bottomright.square
        //- bottomright
    
